@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Monocraft";
	src: url("./fonts/Monocraft.ttf");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "IBM Plex Mono", monospace;
	vertical-align: baseline;
  
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:active, 
a:hover, 
a {
  text-decoration: none;
  color: #fff;
}



* {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  color: #FF6054;
  /* outline: 2px solid green; */
}


*::-webkit-scrollbar-thumb  {
	background-color: green;
}


body {
  background-color: #21070B;
  height: 100%;
}


.tab::-webkit-scrollbar { width: 0; }

 
.tab::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
}
 
.tab::-webkit-scrollbar-thumb {
    background-color: #FF6054;
}

.mobile {
	display: none;
}

.desktop {
	display: block;
}

@media screen and (max-width: 768px) {
	.mobile {
		display: block;
	}
	
	.desktop {
		display: none;
	}
	
}

input {
	all: unset;
}


.hero {
	width: 100%;
	background: var(--main-yellow);
  }
  
  .container-new {
	box-sizing: border-box;
	display: block;
	margin: 0 auto;
	max-width: 1920px;
  }


.LineBlockType1 {
	border-top: 2px solid #FF6054;
}


.LineBlockType2 {
	border-right: 2px solid #FF6054;
}

.LineBlockType2:last-child {
	border-right: none;
}



